<div class="person">
  <div class="container-fluid">
    <div style="padding:10px 0px;color: darkseagreen;font-size: 18px;"> Person details</div>
    <form style="padding: 20px;">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Name: </div>
              <div class="col-9">
                <input type="text" class="form-control"  id="name" name="name" [(ngModel)]="persionDetails.name" >
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Father name: </div>
              <div class="col-9">
                <input type="text" class="form-control" id="faatherName"  name="faatherName" [(ngModel)]="persionDetails.fatherName" >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Gender: </div>
              <div class="col-9">
                <select name="cars" id="cars" class="form-control"  name="gender" [(ngModel)]="persionDetails.gender">
                  <option >Select gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Transgender">Transgender</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Date of birth: </div>
              <div class="col-9">
                <input type="date" id="birthday"  class="form-control" name="dateOfBirth" [(ngModel)]="persionDetails.dateOfBirth">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Phone Number: </div>
              <div class="col-9">
                <input type="number" class="form-control" id="phone" name="phoneNumber" [(ngModel)]="persionDetails.phoneNumber">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Qualification: </div>
              <div class="col-9">
                <select name="cars" id="cars" class="form-control" name="qualification" [(ngModel)]="persionDetails.qualification">
                  <option >Select qualification</option>
                  <option value="Male">SSC</option>
                  <option value="Female">Diploma</option>
                  <option value="Transgender">Graduate</option>
                  <option value="Transgender">Post graduate</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>