<div class="transferdetails">
  <div class="container-fluid">
    <div style="padding:10px 0px;color: darkseagreen;font-size: 18px;"> {{headerDetails}}</div>
    <form style="padding: 20px;">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Name: </div>
              <div class="col-9">
                <input type="text" class="form-control"  id="name" name="name" [(ngModel)]="transfrorDetails.name" >
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Father name: </div>
              <div class="col-9">
                <input type="text" class="form-control" id="faatherName"  name="faatherName" [(ngModel)]="transfrorDetails.fatherName" >
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> House No: </div>
              <div class="col-9">
                <input type="text" class="form-control"  id="houseNo" name="houseNo" [(ngModel)]="transfrorDetails.houseNo" >
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Street: </div>
              <div class="col-9">
                <input type="text" class="form-control" id="street"  name="street" [(ngModel)]="transfrorDetails.street" >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> City: </div>
              <div class="col-9">
                <input type="text" class="form-control"  id="city" name="city" [(ngModel)]="transfrorDetails.city" >
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> State: </div>
              <div class="col-9">
                <input type="text" class="form-control" id="state"  name="state" [(ngModel)]="transfrorDetails.state" >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Pin: </div>
              <div class="col-9">
                <input type="number" class="form-control"  id="pin" name="pin" [(ngModel)]="transfrorDetails.pin" >
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Phone number: </div>
              <div class="col-9">
                <input type="number" class="form-control" id="phoneNumber"  name="phoneNumber" [(ngModel)]="transfrorDetails.phoneNumber" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>