<div class="document">
  <div class="container-fluid">
    <div style="padding:10px 0px;color: darkseagreen;font-size: 18px;"> Upload documents</div>
    <form style="padding: 20px;">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Aadhar Front: </div>
              <div class="col-9">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" class="form-control" name="aadhharFrony" [(ngModel)]="documentdetails.aadharFront">
                  <label class="custom-file-label" for="inputGroupFile01">{{documentdetails.aadharFront}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Aadhar Back: </div>
              <div class="col-9">
                <input type="file" class="custom-file-input" id="inputGroupFile02" class="form-control" name="aadhharFrony" [(ngModel)]="documentdetails.aadharBack">
                <label class="custom-file-label" for="inputGroupFile02">{{documentdetails.aadharBack}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Photograph: </div>
              <div class="col-9">
                <input type="file" class="custom-file-input" id="inputGroupFile03" class="form-control" name="aadhharFrony" [(ngModel)]="documentdetails.photo" >
                <label class="custom-file-label" for="inputGroupFile03">{{documentdetails.photo}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>